.rightContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.container h1 {
  color: #999999;
  font-family: "Spline Sans", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.navLinks2:hover {
  color: #fa4529;
  margin-top: -5px;
  transition-duration: 0.2s;
}
