.container {
  border-bottom: 1px solid #000;
  padding: 50px;
}

.flexDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: top;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.textContainer {
  padding: 20px;
  width: 25%;
  text-align: left;
}

.textContainer h1 {
  font-family: "Spline Sans", sans-serif;
  font-size: 1rem;
  color: #999999;
  font-weight: 200;
  text-transform: uppercase;
}

.textContainer p {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.smallerPara {
  font-size: 0.8rem !important;
  font-family: "Spline Sans", sans-serif;
  color: grey;
  font-weight: "bold";
  letter-spacing: 2px;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-top: 0px;
}

.innerContainer {
  margin-bottom: 75px;
}

@media only screen and (max-width: 1000px) {
  .container {
    padding: 20px;
  }
  .flexDiv {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  .textContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .mainHeading {
    font-size: 3rem !important;
  }
  .innerContainer {
    margin-bottom: 0px !important;
  }
}
