.container {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  padding-bottom: 75px;
  border-bottom: 1.5px solid #000;
}

.textContainer {
  margin-top: 100px;
  width: 70%;
  text-align: left;
}

.textContainer h1 {
  font-family: "Spline Sans", sans-serif;
  font-size: 1rem;
  color: #999999;
  font-weight: 200;
  text-transform: uppercase;
}

.textContainer p {
  font-size: 1.2rem;
}

.leftContainer {
  display: flex;
  width: 40%;
  align-items: center;
}

.imgContainer {
  width: 25%;
  padding: 40px;
  height: fit-content;
  border: 1px solid #999999;
  border-radius: 500px;
  transition: padding ease-in 0.2s;
}

/* .imgContainer:hover {
  padding: 60px;
} */

.imgContainer span {
  border-radius: 500px;
}
.rightContainer {
  display: flex;
  width: 40%;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    margin-top: 0px !important;
  }
  .leftContainer {
    width: 100%;
    padding: 20px;
    order: 2;
  }
  .rightContainer {
    width: 100%;
    padding: 20px;
    order: 3;
  }
  .textContainer {
    margin-top: 30px !important;
    width: 100%;
    text-align: center !important;
  }
  .imgContainer {
    width: 90%;
    display: block !important;
    margin-left: auto;
    margin-right: auto !important;
    order: 1;
    padding: 50px;
  }
}
